<a href="https://colab.research.google.com/github/gokila97/Python_Basics/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Python**

In [ ]:
s=input()
x=0
for i in range(len(s)):
    x=x+(int(s[i])**i)
print(x)

100
1

General purpose high level programming Language,

Guido Van Rossam

1991 - python 2

Python3

Statically Typed programming

Dynamically Typed programming

Paradigm - Idea:
Multiparadigm:

OOP
Functional
Reflective
procedural

2000 - python 2

2008 - python 3

Interpreted:

API

Web Application - JAVA / PHP - Wordpress / Flash DJango

Mobile Application - Java / Objective c

AI/ML/DS - Python/ Java / Scala

Ruby

Interpreted:

Community Driven:

Python- Multiparadigm

Java Script - OOP,FP,POP,RP

Interpreted:

Line by line translation:

Python code - 0, 1s - interpreter / Compiler

Compiler - Translate

interpreter - Line by line Translation

Mobile Application Development - Performance

Java - two levels of Translation:
Compiler- JIT Compiler

Web Application
Mobile Application
Games
DB
Network Programming
DS / ML / AI
Internet of things

Simple

Open source and free

High Level Language

Platform independent Linux/ Windows 

Python Virtual Machine

Potability:

Dynamically Typed

Data Type
No need of explicit datatypes in python.

Multiparadigm

Libraries

In [ ]:
#import math

import math 
result = math.factorial(5)
print(result)

120

In [ ]:
import math 
result = math.factorial(78)
print(result)

11324281178206297831457521158732046228731749579488251990048962825668835325234200766245086213177344000000000000000000

In [ ]:
# my file name 

print("This is my first program")

print('This is my first program')

This is my first program
This is my first program

Arithmatic operation

In [ ]:
print(5+10)
print(5*10)
print(5+2*5)
print((5+2)*5)

15
50
15
35

In [ ]:
print(100/3) #division
print(100-3)
print(100//3) #floor division
print(2*3)
print(2**3) #power 2 power 3

33.333333333333336
97
33
6
8

In [ ]:
print(100%7)
print(100%9)
print(100%2)

2
1
0

In [ ]:
print(2**3+2*3)
print((2**3)+2*3)

14
14

In [ ]:
# Identifiers - Variables - Reference Variables:

doorno = 159  # = --> Assignment operator
print(doorno)

159

In [ ]:
name1 = "nikil"
name2 = 'gokila'
print(name1)

nikil

In [ ]:
# alphabets - small / capital
# numbers are allowed
#underscore is allowed
# Space is not allowed
# No other special character is allowed

tamil1 = 90
print(tamil1)
tamil2 = 89
print(tamil2)

tamil_1 = 90
print(tamil_1)

TAMIL2 = 78
print(TAMIL2)

90
89
90
78

In [ ]:
2TAMIL = 78
print(2TAMIL)

SyntaxError: ignored

In [ ]:
# Rules
# No special characters allowed
# No space is allowed
# Underscore is allowed (string, middle, end)
# Numbers are allowed, but should not start with numbers
# Case sensitive
# No limitations, any length
# Reserved words in python should not be used as identifiers.
# _, __ starting --> private variable

In [ ]:
_tamil = 29
print(_tamil)

29

In [ ]:
_TAMIL2 = 80
print(_TAMIL2)

80

In [ ]:
# Python reserved words:
# 33 Reserved words
# True / False / None
# and or is
# if elif else
# while for break continue return yield in
# try except finally raise assert

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

DATA TYPES:

Dynamically typed Programming Language

In [ ]:
Duck Typing Language

no = 10 #integer

boolean result = true

boolean result = false

In [ ]:
#In built Datatypes : 14

int
float
complex
bool
str
bytes
bytearray
range
list
set
frozenset
tuple
dict
None

In [ ]:
no = 50                    # input - parameter / argument
print(no)                  # action - function / methond / procedure / routine
print(type(no))

50
<class 'int'>

In [ ]:
no = 4.5
print(no)
print(type(no))

4.5
<class 'float'>

In [ ]:
result = True
print(result)
print(type(result))

True
<class 'bool'>

In [ ]:
name = 'nikil'
print(name)
print(type(name)) # datatype
print(id(name))   # address

nikil
<class 'str'>
140515396278704

In [ ]:
no = 23
print(no)
print(id(no))
print(type(no))

23
11256768
<class 'int'>

In [ ]:
name = 'nikil'  # functin len
print(len(name))

5

In [ ]:
no = 234.65437      # function round
print(no)
print(round(no))
print(round(no,2))
print(round(no,3))

234.65437
235
234.65
234.654

In [ ]:
no = 1234
print(len(no))

TypeError: ignored

In [ ]:
# int datatype
# Decimal form
# Binary form 0s and 1s
# Octal form     8--> 0 1 2 3 4 5 6 7
# Hexadecimal form   16--> 0 9 A B C D E F 

no = 0B1001    # binary form
print(no)

no = 0b1001
print(no)

9
9

In [ ]:
no = 0o776  # Octal form
print(no)

no1 = 0o123
print(no1)

510
83

In [ ]:
no = 0X123   # Hexadecimal form
print(no)

no = 0Xabc
print(no)

no = 0XCAB
print(no)

291
2748
3243

In [1]:
no = bin(20)
print(no)

no = oct(20)
print(no)

no = hex(30)
print(hex)

0b10100
0o24
<built-in function hex>

Float Data types:

In [ ]:
no = 23452.9887503873362672819
print(no)
print(type(no))

23452.988750387336
<class 'float'>

In [ ]:
no1 = 7.7e3
print(no1)

7700.0

In [ ]:
no2 = 7.7E3
print(no2)
print(type(no2))

7700.0
<class 'float'>

Complex Datatypes:

Real part + Imaginary part

In [ ]:
no = 5+10j
print(no)
print(type(no))

no2 = 10 + 5j

total = no + no2
print(total)

print(no2.real)
print(no2.imag)

(5+10j)
<class 'complex'>
(15+15j)
10.0
5.0

In [ ]:
no1 = 10    # assignment operator
no2 = 20
print(no1<no2)    #10<20
print(no1>no2)    # 10>20
print(no1==no2)   # comparison equal
print(no1!=no2)   # comparison not equal

True
False
False
True

In [ ]:
present = True
print(present)
print(type(present))

True
<class 'bool'>

In [ ]:
print(True+True)  # 1+1 = 2
print(True+False) # 1+0 = 1
print(False+False) # 0+0 = 0

2
1
0

**String** Data types:

In [ ]:
name = "nikil"
print(name)
name = 'gokila'
print(name)

name = ''' gokila's mail id is gokila636@gmail.com and he said "hi" '''
print(name)

address = """ 197/3, velacherry,
               chennai 42
               Tamil Nadu """
print(address)

nikil
gokila
 gokila's mail id is gokila636@gmail.com and he said "hi"
 197/3, velacherry,
               chennai 42
               Tamil Nadu

In [ ]:
name = 'gokila'
city = 'chennai'
print(name+city)
print(name,city)

gokilachennai
gokila chennai

In [ ]:
name = 'nikil'
pincode = 608502
print(name,pincode)

nikil 608502

In [ ]:
name = 'nikil'
pincode = 608502
print(name+pincode)

TypeError: ignored

String Slicing:

In [ ]:
# Forward / Backword
# Forward - +ve - starts from zero

name = 'Nikil'   # 01234 index - order
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])

N
i
k
i
l

In [ ]:
# Backward - -ve starts from -1
name = 'gokila'
print(name[-6])
print(name[-5])
print(name[-4])
print(name[-3])
print(name[-2])
print(name[-1])

g
o
k
i
l
a

In [ ]:
name = 'nikigoki'
print(name[0:5])

print(name[7:])

print(name[8:])

print(name[:4])

print(name[4:8])

nikig
i

niki
goki

In [ ]:
name = 'abcdefghijklmnopqrstuvwxyz'

print(name[0:5])

print(name[-1:])

print(name[-6:-1])

print(name[5:10])

abcde
z
uvwxy
fghij

In [ ]:
name = 'abcdefghijklmnopqrstuvwxyz'

print(name[::])

print(name[1:10:2])  # step operator

abcdefghijklmnopqrstuvwxyz
bdfhj

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [ ]:
name = 'abcdefghijklmnopqrstuvwxyz'

print(len(name))

print(name[8:1:-1])

print(name[8:1:-2])

print(name[-26:-1])

print(name[-26:-1:4])

26
ihgfedc
igec
abcdefghijklmnopqrstuvwxy
aeimquy

In [ ]:
name = 'nikilgokila'

print(len(name))
val = len(name)
print(name[0:val])

11
nikilgokila

In [ ]:
name = 'nikilgokila'

print(len(name))

val = len(name)

print(name[-val:val])

print(name[(val-1):0:-1])

11
nikilgokila
alikogliki

In [ ]:
name = 'nikilgokila' 
print(name[::-1])  # reverse in order
print(name[5:-5])
print(name[::4])

alikoglikin
g
nli

In [ ]:
# PALINDROME
name = 'appa'
print(name)
name2 = name [::-1]
print(name2)
print(name==name2)

name = 'amma'
print(name)
name2 = name [::-1]
print(name2)
print(name==name2)

appa
appa
True
amma
amma
True

In [ ]:
name = 'tub'
print(*name)

t u b

Type casting:

Coverting one datatype to another datatype:

In [ ]:
no = 99.8
print(int(no))

99

In [ ]:
print(True+True)
print(True+False)
print(False+False)

2
1
0

In [ ]:
print(int(True))
print(int(False))

1
0

In [ ]:
name = 'nikil'
print(int(name))

ValueError: ignored

In [ ]:
doorno ='10'

print(doorno)

print(type(int(doorno)))

print(float(10))

print(float(False))

print(float(True))

10
<class 'int'>
10.0
0.0
1.0

In [ ]:
#Complex()

print(complex(10))
print(complex(5.4))
print(complex(True))
print(complex(False))
print(complex("12"))
print(complex("12.7"))

(10+0j)
(5.4+0j)
(1+0j)
0j
(12+0j)
(12.7+0j)

In [ ]:
# Bool()

print(bool(0))
print(bool(1))
print(bool(1.5))
print(bool(0.3))
print(bool(0.0))
print(bool(5+4j))
print(bool(0+2j))
print(bool(0+0j))
print(bool("ABC"))
print(bool(""))
print(bool("True"))
print(bool("False"))
print(bool())

False
True
True
True
False
True
True
False
True
False
True
True
False

In [ ]:
#String()
print(str(10))
 
print("price of a Tea is"  + str(10))

10
price of a Tea is10

In [ ]:
print(str(34.5))
print(str(5+10j))
print(str(True))
print(str(False))

34.5
(5+10j)
True
False

In [ ]:
#14 Datatypes - 5 Fundamental Data types

#All Funtamental Datatypes are Immutable

no1 = 10
print(id(no1))

no2 = 10.0
print(id(no2))

#print(no1 is no2)

print(no1 == no2) #equality

print(no1 is no2)  #identity operator

print(no1 is not no2)

print(no1 != no2)

11256352
139804217334320
True
False
True
False

Bytes 8 bit    2 power 8

Group of byte numbers

In [ ]:
values = [90, 80, 70, 60,67]

values = bytes(values)

print(values)

print(type(values))

b'ZPF<C'
<class 'bytes'>

In [ ]:
values = [90, 80, 70, 60,67]

values = bytes(values)

print(values[0])
print(values[1])
print(values[2])
print(values[3])
print(values[4])
print(values[-1])
print(type(values))

90
80
70
60
67
67
<class 'bytes'>

In [ ]:
values = [90, 80, 70, 60,67]
for values in values:
  print(values)

90
80
70
60
67

In [ ]:
total = 0
values = [67,89,65,90]
for value in values:
  total = total + value   # Indentation

print(total)

311

**ODD , EVEN**

In [ ]:
no = input()
print(no)

45
45

In [ ]:
no = input("Enter your value: ")
print(no)

Enter your value: 50
50

In [ ]:
no = input("Enter your value: ")
print(no)
type(no)

Enter your value: 45
45

str

In [ ]:
no = int(input("Enter your value: "))
print(no)
type(no)

Enter your value: 68
68

int

In [ ]:
values = [90, 85, 73, 60, 67]

for no in values:
  if no%2==0:
    print(no)

90
60

In [ ]:
values = [90, 85, 73, 60, 67]

for no in values:
  if not no%2==0:
    print(no)

85
73
67

**Operators**

Relational Operators:

>     >=    <    <=

In [ ]:
name1 = "nikil"
name2 = "gokila"     # Lexicographical Order - Dictionary
print(name1>name2)
print(name1<name2)
print(name1==name2)
print(name1!=name2)

True
False
False
True

In [ ]:
print("Hi Hello")

print("Hi \t Hello")

print("Hi \n Hello")

print("I'm fine")

Hi Hello
Hi 	 Hello
Hi
 Hello
I'm fine